.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.text-input {
    width: 100%;
    border-radius: 4px;
    border: solid rgb(204, 204, 204) 1px;
    height: 30px;
}
.month {
    padding: 15px 15px;
    background: #1abc9c;
    color: #666;
    text-align: center;
}
.ul {
    list-style-type: none;
    padding: 0 !important;
}

.month .prev {
    cursor: pointer;
    float: left;
    padding-top: 10px;
}

.month .next {
    cursor: pointer;
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 2px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 5px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:18px;
    color: #777;
    cursor: pointer;
}

.days li .active {
    border-radius: 50%;
    padding: 10px;
    background: #1abc9c;
    color: white !important
}

.button-save{
    height: 30px;
    background-color: #1abc9c;
    border-color: #1abc9c;
    color: #ffffff;
    border-radius:4px;
    font-size:18px;
}
.button-cancel{
    border-radius:4px;
    height: 30px;
    background-color: #b82c46;
    border-color: #b82c46;
    color: #ffffff;
    font-size:18px;
}
.formLabel{
    margin-top: 8px;
    padding-right: 25px;
    padding-bottom: 50px;
    font-weight: bold;
}
.formElement{
    width:70% !important;
    margin-top: 20px;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
